html, body{
	font-family: helvetica;
	margin: 0;
}
header{
	background-color: #32312d;
	padding: 40px;
	text-align: center;

}

h1{
	font-size: 96px;
	color: white;

}

header img{
	border-radius: 300px;
	width: 300px;
	border: 13px solid white;
}
.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
	/*background-color: cornsilk;*/
}
img.big-image{
	max-width: 100%;
}
p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;

}
ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

a{
	color: #e0b300;
	text-decoration: none;

}

footer{
	padding: 60px 20px;
	margin-top: 50px;
	background-color: #262521; 

}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline;
	color: white;
}
/*<header>
			<img src="images/profile2.jpg">
			<h1>Batman</h1>	
		</header>*/